<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About: <%=name%></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <main class="member">
        <img src="<%= profileImage %>" alt="Portrait of staff member">
        <h1><%=name%></h1>
        <ul class="member-desc">
            <li><span class="member-desc-category">Nickname: </span><%= nickname %></li>
            <li><span class="member-desc-category">Position: </span><%= position %></li>
            <li><span class="member-desc-category">Favorite Feature: </span><%= feature %></li>
            <li><%= bio %></li>
        </ul>
    </main>
</body>
</html>
