<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About: <%=name%></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <main>
        <img src="<%= profileImage %>" alt="Portrait of staff member">
        <h1><%=name%></h1>
        <ul>
            <li>Nickname: <%= nickname %></li>
            <li>Position: <%= position %></li>
            <li>Favorite Feature: <%= feature %></li>
            <li><%= bio %></li>
        </ul>
    </main>




</body>
</html>
